RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# Redirigir peticiones a wp-json/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]